{% for message in messages %}
    {% if message.tags == 'success'%}
        <p class="success">{{ message }}</p>
    {% endif %}
{% endfor %}


<form class="add-bill-form" method='post' action="{% url 'create' %}">
    {% csrf_token %}
    <input type="text" id="bill-name" name='bill_name'placeholder="Bill Name" required>
    <input type="date" id="bill-date" name='date' pattern="\d{4}-\d{2}-\d{2}" required>
    <input type="number" id="bill-amount" name='amount' placeholder="Amount" required>
    <button type="submit">Add Bill</button>
    {{ f.bill_name}}
    {{ f.date }}
    {{ f.amount }}
</form>

<a href="{% url 'index' %}">View Bills</a>